


html, body {
  height: 100%;
}






body {/*set out the body of the page*/

    flex-direction: column;
    display: flex;
    /*font-size: 62.5%;*/
    background: rgb(149, 194, 215);
}


.index-title{

  background: rgb(160, 180, 230);
  text-align: center;
  /*text-transform: uppercase;*/
  font-size: 3.5em;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
}

.article1-header{
  background: rgb(180, 200, 255);
  text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
  font-size: 3em;
}
.article2-header{/*for index page*/
  background: rgb(255, 200, 180);
  text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
  font-size: 3em;
}
.article3-header{/*for bio page*/
  background: rgb(180, 255, 200);
  text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
  font-size: 3em;
}

.sub-header{
  background: rgb(180, 200, 255);
  text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
  font-size: 2em;
}

/*
.link-style{/*for links at the top of the screen
  background: rgb(180, 200, 255);
  /*text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google
  font-size: 1.5em;
}
.sel-link-style{/*for links at the top of the screen which are for the current page
  background: rgb(220, 220, 255);
  /*text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google
  font-size: 1.5em;
}*/


.index-header{
  flex: 0 1 auto;
}



.img1{
  width: 40em;
  height: 30em;
  /*flex: 1 1 auto;
  flex*/
 /*align-self: center;
  /*flex-direction: row;
  display: flex;*/

}
.row-display{
  align-self: center;
  flex-direction: row-reverse;
  display: flex;
}

.img-icon{/*for the images being used as icons*/
  width: 5em;
  height: 5em;

  padding: 0.5em;
  background: rgb(180, 200, 255);

}
.img-icon-selected{/*for the images being used as icons which are on the selected page*/
  width: 5em;
  height: 5em;

  padding: 0.5em;
  background: rgb(180, 160, 255);

}

.nav{
  justify-content: space-between;

  /*margin: 1em;*/
  /*border: 1em;*/
  /*white-space: nowrap;
  overflow-x: auto;*/

  max-height: 6em;
  min-height: 6em;

  order: -1;/*puts navigation at the top of the screen*/
  padding: 1em;
  background: rgb(200, 230, 255);
  flex-direction: row;/*put naviagation points into a row across the screen*/
  display: flex;/*make display the values in flex*/
}

/*to be used in the cv page*/
.article-type1{/*this sets the background to go around the article*/

  /*background: rgb(100, 200, 250);*/

  margin: 2em;/*make sure this doesn't collide with anything else on the screen*/

  margin-bottom: 5em;/*give more space between the footer and these conent boxes*/

  padding: 1em;
  background: rgb(100, 150, 250);

  max-width: 30em;/*thinner than other articles to fit more across the screen*/
  min-width: 30em;

  max-height: 40em;
  min-height: 40em;



}
.article1-div-content{/*this goes inside article-type1 to hold text*/

  /*margin-left: 5em;*/
  /*margin-top: 5em;*/

  margin: 0em;

  padding: 1em;
  background: rgb(90, 140, 240);

  max-width: 30em;
  min-width: 30em;

  max-height: 40em;
  min-height: 40em;
}
.cv-articles-display{/*uses flex to display all of the contents in a row across the screen*/
  flex-direction: row;/*display as a row*/
  justify-content: center;/*display in the center of the screen*/
  /*align-self: center;*/
  display: flex;/*use these commands*/

  max-height: 49em;
  min-height: 49em;
}

/*type 2 for the index page*/
.article-type2{/*this sets the background to go around the article*/

  /*background: rgb(100, 200, 250);*/

  margin: 5em;/*make sure this doesn't collide with anything else on the screen*/

  padding: 1em;
  background: rgb(250, 150, 100);

  max-width: 40em;
  min-width: 40em;

  max-height: 30em;
  min-height: 30em;


}
.article2-div-content{/*this goes inside article-type2 to hold text*/

  /*margin-left: 5em;*/
  /*margin-top: 5em;*/

  margin: 0em;

  padding: 1em;
  background: rgb(240, 140, 90);

  max-width: 40em;
  min-width: 40em;

  max-height: 30em;
  min-height: 30em;
}

/*type 3 for the bio page*/
.article-type3{/*this sets the background to go around the article*/

  /*background: rgb(100, 200, 250);*/

  margin: 5em;/*make sure this doesn't collide with anything else on the screen*/

  padding: 1em;
  background: rgb(100, 250, 140);

  max-width: 60em;
  min-width: 60em;

  max-height: 30em;
  min-height: 30em;

  align-self: center;/*put self at the middle of the screen*/
}
.article3-div-content{/*this goes inside article-type3 to hold text*/

  /*margin-left: 5em;*/
  /*margin-top: 5em;*/

  margin: 0em;

  padding: 1em;
  background: rgb(60, 240, 140);

  max-width: 60em;
  min-width: 60em;

  max-height: 30em;
  min-height: 30em;
}












/*.side-content*/

.side-content{/*this goes at the side of the screen*/

  /*margin-left: 5em;*/
  /*margin-top: 5em;*/

  margin: 0em;

  /*flex-direction: column;
  flex-direction:
  display: flex;*/



  padding: 1em;
  background: rgb(90, 140, 240);

  max-width: 40em;
  min-width: 40em;

  max-height: 40em;
  min-height: 40em;
}





.footer {
  padding: 0.5em;/*height of surrounding container*/
  /*margin-bottom: 5em;/*leave gap at the bottom of the screen*/
  background: rgb(227, 93, 60);/*colour of surrounding container*/
  text-align: center;


}

.footer-link-style{/*for styling the text in the footer*/
  background: rgb(200, 93, 60);
  /*text-align: center;*/
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
  font-size: 1.5em;
}
