


html, body {
  height: 100%;
}






body {/*set out the body of the page*/

    flex-direction: column;/*display everything in a column*/
    display: flex;/*use the set flex commands*/
    /*font-size: 62.5%;*/
    background: rgb(0, 0, 0);/*set the background colour*/

}

.text-class{/*set text size in paragraphs*/
  font-size: 1.5em;
  font-family: serif;/*keeps font type similar to the type from Google for the headers*/

  /*text is much smaller*/
}


.all-title{

  background: rgb(180, 200, 255);/*light blue background*/
  text-align: center;
  /*text-transform: uppercase;*/
  font-size: 3.5em;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
}

.all-article-header{/*for all pages' headers*/
  background: rgb(180, 200, 255);/*light blue background*/
  text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
  font-size: 3em;
  padding: 0em;
}


.sub-header{/*for cv page sub headers*/
  background: rgb(180, 200, 255);/*light blue background*/
  text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
  font-size: 2em;
  padding: 0em;
}

/*
.link-style{/*for links at the top of the screen
  background: rgb(180, 200, 255);
  /*text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google
  font-size: 1.5em;
}
.sel-link-style{/*for links at the top of the screen which are for the current page
  background: rgb(220, 220, 255);
  /*text-align: center;
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google
  font-size: 1.5em;
}*/


.all-header{
  flex: 0 1 auto;
}



.img1{
  width: 35em;
  height: 30em;
  /*flex: 1 1 auto;
  flex*/
 /*align-self: center;
  /*flex-direction: row;
  display: flex;*/

}
.row-display{/*used to centre article held on the page*/
  justify-content: space-around;/*give equal space between articles*/
  flex-direction: row;
  display: flex;

  min-height: 50em;/*push footer to the bottom of the page*/
}

.img-icon{/*for the images being used as icons*/
  width: 5em;
  height: 5em;

  padding: 0.5em;
  background: rgb(180, 200, 255);

}
.img-icon-selected{/*for the images being used as icons which are on the selected page*/
  width: 5em;
  height: 5em;

  padding: 0.5em;
  background: rgb(180, 160, 255);/*colour is more purple to highlight this icon better*/

  animation: change-selection-col 3s linear infinite;/*run animation to change the colour of the background*/
}

.nav{
  justify-content: space-between;

  /*margin: 1em;*/
  /*border: 1em;*/
  /*white-space: nowrap;
  overflow-x: auto;*/

  max-height: 6em;
  min-height: 6em;

  order: -1;/*puts navigation at the top of the screen*/
  padding: 1em;
  background: rgb(100, 150, 250);/*blue to show icons well*/
  flex-direction: row;/*put naviagation points into a row across the screen*/
  display: flex;/*make display the values in flex*/
}

/*to be used in the cv page*/
.article-type1{/*this sets the background to go around the article*/

  /*background: rgb(100, 200, 250);*/

  margin: 2em;/*make sure this doesn't collide with anything else on the screen*/

  margin-bottom: 5em;/*give more space between the footer and these conent boxes*/

  padding: 1em;
  background: rgb(90, 140, 240);/*darker blue, to give a 3D shadow effect*/

  max-width: 25em;/*thinner than other articles to fit more across the screen*/
  min-width: 25em;

  max-height: 78em;
  min-height: 78em;



}
.article1-div-content{/*this goes inside article-type1 to hold text*/

  /*margin-left: 5em;*/
  /*margin-top: 5em;*/

  margin: 0em;

  padding: 1em;
  background: rgb(100, 150, 250);/*blue to show text well*/

  max-width: 25em;
  min-width: 25em;

  max-height: 78em;
  min-height: 78em;
}
.cv-articles-display{/*uses flex to display all of the contents in a row across the screen*/
  flex-direction: row;/*display as a row*/
  justify-content: space-between;/*gives equal space between articles*/

  /*align-self: center;*/
  display: flex;/*use these commands*/

  /*max-height: 49em;*/
  min-height: 87em;

}

/*type 2 for the index page*/
.article-type2{/*this sets the background to go around the article*/

  /*background: rgb(100, 200, 250);*/

  margin: 5em;/*make sure this doesn't collide with anything else on the screen*/

  padding: 1em;
  background: rgb(90, 140, 240);/*darker blue, to give a 3D shadow effect*/

  max-width: 35em;/*get a roughly equal boarder*/
  min-width: 35em;/*get a roughly equal boarder*/

  max-height: 38.6em;/*get a roughly equal boarder*/
  min-height: 38.6em;/*get a roughly equal boarder*/


}
.article2-div-content{/*this goes inside article-type2 to hold text*/

  /*margin-left: 5em;*/
  /*margin-top: 5em;*/

  margin: 0em;

  padding: 1em;
  background: rgb(100, 150, 250);/*blue to show text well*/

  max-width: 35em;/*get a roughly equal boarder*/
  min-width: 35em;/*get a roughly equal boarder*/

  max-height: 38.6em;/*get a roughly equal boarder*/
  min-height: 38.6em;/*get a roughly equal boarder*/
}

/*type 3 for the bio page*/
.article-type3{/*this sets the background to go around the article*/

  /*background: rgb(100, 200, 250);*/

  margin: 5em;/*make sure this doesn't collide with anything else on the screen*/

  padding: 1em;
  background: rgb(90, 140, 240);/*darker blue, to give a 3D shadow effect*/

  max-width: 60em;
  min-width: 60em;

  max-height: 30em;
  min-height: 30em;

  align-self: center;/*put self at the middle of the screen*/
}
.article3-div-content{/*this goes inside article-type3 to hold text*/

  /*margin-left: 5em;*/
  /*margin-top: 5em;*/

  margin: 0em;

  padding: 1em;
  background: rgb(100, 150, 250);/*blue to show text well*/

  max-width: 60em;
  min-width: 60em;

  max-height: 30em;
  min-height: 30em;
}




/*type 4 for the contact page*/
.article-type4{/*this sets the background to go around the article*/

  /*background: rgb(100, 200, 250);*/

  margin: 5em;/*make sure this doesn't collide with anything else on the screen*/

  padding: 1em;
  background: rgb(90, 140, 240);/*darker blue, to give a 3D shadow effect*/

  max-width: 60em;
  min-width: 60em;

  max-height: 30em;
  min-height: 30em;

  align-self: center;/*put self at the middle of the screen*/
}
.article4-div-content{/*this goes inside article-type3 to hold text*/

  /*margin-left: 5em;*/
  /*margin-top: 5em;*/

  margin: 0em;

  padding: 1em;
  background: rgb(100, 150, 250);/*blue to show text well*/

  max-width: 60em;
  min-width: 60em;

  max-height: 30em;
  min-height: 30em;
}

















.footer {
  padding: 0.5em;/*height of surrounding container*/
  /*margin-bottom: 5em;/*leave gap at the bottom of the screen*/
  background: rgb(90, 140, 240);/*blue background colour for surrounding container*/
  text-align: center;


}

.footer-link-style{/*for styling the text in the footer*/
  background: rgb(90, 140, 240);/*blue background colour of text*/
  /*text-align: center;*/
  font-family: 'Fira Sans', sans-serif;/*gets font type from Google*/
  font-size: 1.5em;
}


.form1{/*set form on contact page' content*/
  flex-direction: column;
  display: flex;

  justify-content: center;/*put the form items in the centre*/
}

.input{/*input settings*/
  /*max-width: */
}


/*if width is greater than 30em*/
/*@media (min-width: 50em) {
  .cv-articles-display{
    flex-direction: row;

  }
}*/

/*if width is smaller than 30em*/
@media (max-width: 60em) {/*to resize the screen for mobile devices*/

  /*for cv page*/
  .cv-articles-display{
    flex-direction: column;/*puts articles into a column*/

    min-height: 145em;/*pushes footer to bottom of the screen and allows the articles inbetween to resize themselves*/

    margin-bottom: 3.5em;/*push footer further down*/
  }

  .row-display{
    /*keep as row because there is only one article inside and the row display will centre it better*/

    min-height: 40em;/*push footer to the bottom of the page*/

  }

  /*reset article and div to fit in the screen*/
  .article-type2{
    margin: 0.5em;

    /*reset width to fit onto the screen*/
    min-width: 30em;
    max-width: 30em;

    /*reset height to fit around image*/
    max-height: 33.6em;/*get a roughly equal boarder*/
    min-height: 33.6em;/*get a roughly equal boarder*/

  }
  .article2-div-content{

    /*reset width to fit onto the screen*/
    min-width: 30em;
    max-width: 30em;

    /*reset height to fit around image*/
    max-height: 33.6em;/*get a roughly equal boarder*/
    min-height: 33.6em;/*get a roughly equal boarder*/

  }
  .img1{
    width: 30em;/*resize the image's width so it fits on to the screen*/
    height: 25em;/*resize the image's height to limit how much it is stretched unnaturally*/
  }


  /*for index*/
  /*reset article and div to fit in the screen*/
  .article-type1{
    margin: 0.5em;

    /*reset width to fit onto the screen*/
    min-width: 30em;
    max-width: 30em;

  }
  .article1-div-content{

    /*reset width to fit onto the screen*/
    min-width: 30em;
    max-width: 30em;

  }

  /*for bio page*/
  /*reset article and div to fit in the screen*/
  .article-type3{
    margin: 0.5em;

    /*reset width to fit onto the screen*/
    min-width: 30em;
    max-width: 30em;

    /*reset height to fit all of the text onto the page*/
    min-height: 50em;
    max-height: 50em;

    margin-bottom: 3.8em;/*to push footer down and leave a gap for good visual appearance*/

  }
  .article3-div-content{


    /*reset width to fit onto the screen*/
    min-width: 30em;
    max-width: 30em;

    /*reset height to fit all of the text onto the page*/
    min-height: 50em;
    max-height: 50em;

  }


  /*for contact me page*/
  /*reset article and div to fit in the screen*/
  .article-type4{
    margin: 0.5em;

    /*reset width to fit onto the screen*/
    min-width: 30em;
    max-width: 30em;

    margin-bottom: 3.8em;/*to push footer down and leave a gap for good visual appearance*/

  }
  .article4-div-content{

    /*reset width to fit onto the screen*/
    min-width: 30em;
    max-width: 30em;

  }

}


/*.txt-area1{/*to stop the "Send" button from going off the screen*/
  /*max-height: 10em;
  max-width: 10em;
}*/


@keyframes change-selection-col {/*changes colour of selected outline for link icon of current page*/

  0%{/*at start of animation*/
    background: rgb(180, 160, 255);/*make background purple*/
  }

  50%{/*at middle of animation*/
    background: rgb(0, 100, 200);/*make background blue*/
  }

  100%{/*at end and reset of animation*/
    background: rgb(180, 160, 255);/*make background purple again*/
  }
}
